<head>
    <link rel="stylesheet" href="/css/login.css" />
</head>

<div class="container">
{{#if errors}}
    {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
      <form class="form-signin" method="post" action="/users/register">
        <h2 class="form-signin-heading">Sign in</h2>
               <label for="name" class="sr-only">Name</label>
        <input type="name" id="name" name="name" class="form-control" placeholder="Full Name"  autofocus>
          <br>    
        <label for="username" class="sr-only">Username</label>
        <input type="username" id="username" name="username" class="form-control" placeholder="Username"  autofocus>
          <br>
          <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address"  autofocus>
          <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" >
        <br>
          <label for="confirmPassword" class="sr-only">Confirm Password</label>
        <input type="password" id="confirmPassword" name="password2" class="form-control" placeholder="Confirm Password" >
          <br>
          
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->

